<h1>Signup!</h1>

<table class="table table-bordered">
      <thead>
        <tr>
          <%= form_for :user, url: '/users' do |f| %>
          <th colspan="2">First Name: <%= f.text_field :first_name %></th>
          <th colspan="2">Last Name: <%= f.text_field :last_name %></th>
          <th colspan="2">Email:<%= f.text_field :email %></th>
          <th colspan="2">Password: <%= f.password_field :password %></th>
          <th colspan="2">Password Confirmation: <%= f.password_field :password_confirmation %></th>
        </tr>
         <%= f.submit "Submit" %>
          <% end %>
      </thead>
</table>