<h1>Signup!</h1>

<table class="table table-bordered">
      <thead>
        <dl>
          <%= form_for :user, url: '/users' do |f| %>
          <dt colspan="2">First Name:</dt>
          <dd><%= f.text_field :first_name %></dd>
          <dt colspan="2">Last Name:</dt>
          <dd><%= f.text_field :last_name %></dd>
          <dt colspan="2">Email:</dt>
          <dd><%= f.text_field :email %></dd>
          <dt colspan="2">Password:</dt>
          <dd><%= f.password_field :password %></dd>
          <dt colspan="2">Password Confirmation:
          <dd> <%= f.password_field :password_confirmation %></dd>
          <dt><%= f.submit "Submit" %></dt>
        </dl>
          <% end %>
      </thead>
</table>